:root {
  color:#ffffff;
}

.nav-link {
  color:#ffffff;
  font-size: 30px;
}
.nav-link:hover {
  color: black;
}

.nav-item .nav-link.active {
  color: black; 
}
.avatar {
  margin: 15px 15px 0px 50px;
  width: 150px; 
  height: 150px; 
  border-radius: 50%; 
  object-fit: cover; 
}

body {
  background-color: #13447B;
  margin: 0px;
 
}
p {
  color: #ffffff;
  margin: 15px 50px;
}
a {
    color: #ffffff;
  /*margin: 15px 50px;*/
}
h1 {
  font-size: 50px;
}

h2 {
  color:#ffffff;
  font-family: cursive;
  margin: 15px 0px 15px 50px;
}

h3 {
  color: #ffffff;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;

}

.form {
  margin: 25px 50px;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.proficiencies-list {
  color: #ffffff;
  margin: 50px;
}
.footer-links { 
  display: flex;
  justify-content: center;
  gap: 25px;
}

@media (max-width: 928px) {
  h1 {
    font-size: 35px;
  }
  .nav-link {
    font-size: 20px;
  }

 
}

/* TODO: add media query for a max-width of 768px */
@media (max-width: 768px) {
  h1 {
    font-size: 25px;
  }
  .nav-link {
    font-size: 20px;
  }
  
}
