:root {
  color:#ffffff;
}

.nav-link {
  color:#ffffff;
  font-size: 30px;
}
.nav-link:hover {
  color: black;
}

.avatar {
  margin: 15px 15px 0px 50px;
  width: 150px; 
  height: 150px; 
  border-radius: 50%; 
  object-fit: cover; 
}

body {
  display: flex;
  background-color: #13447B;
 
}
p {
  color: #ffffff;
  margin: 15px 50px;
}
h1 {
  font-size: 50px;
}

h2 {
  color:#ffffff;
  font-family: cursive;
  margin: 15px 0px 15px 50px;
}

.form {
  margin: 20px;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}


@media (max-width: 980px) {
  h1 {
    font-size: 30px;
  }
  

 
}

/* TODO: add media query for a max-width of 768px */
@media (max-width: 768px) {
  h1 {
    
    font-size: 10px;
    
  }
  /*
  .portfolio-column {
    height: auto; 
    display: block; 
  } */
}
